<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consumption API</title>
    <link rel="stylesheet" href="{{ static_url('bootstrap.min.css')}}.min.css" />
    <link rel="stylesheet" href="{{ static_url('jquery.jsonview.css')}}.min.css" />
    <link rel="stylesheet" href="{{ static_url('main.css')}}.min.css" />
</head>

<body>
    {% block content %} 

    {% end %}

    <script type="text/javascript" src="{{ static_url('jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jquery.jsonview.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('main.js') }}"></script>
</body>
</html>
